body {
    margin: 0;
    padding: 0;
    font-family: Muli;
    background-color: #bcb9b922;
}

nav {
    background-color: #00A;
    box-shadow: 2px 2px 4px rgb(77, 77, 77);
}

.navbar {
    padding: 1rem;
}

.nav-item {
    font-size: large;
    font-weight: 400;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-light .navbar-brand{
    color: #ffffff;
}

.navbar-light .navbar-toggler {
    background-color: #ffffff;
}

.container {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #ffffff;
}

.page-header {
    margin: 1rem;
}

.card {
    margin: 1rem;
    float: left;
}

.card-clear {
    clear: both;
    margin: 1.5rem 0;
}

.footer {
    text-align: center;
    margin-top: 3rem;
    padding: 1rem;
    color: #00A;
    font-size: large;
    font-weight: 400;
}